{% extends "base.html" %}

{% block content %}
<div style="padding-top:60px">
<div class="page-header">
  <h1>Contact Us</h1>
</div>
<!-- Example row of columns -->
      <div class="row">
        <div class="span4">
	<p><h4>Mail</h4></p>
	<address>
  	<strong>DonateoldSpectacles.org</strong><br>
  	<a href="mailto:#">donateoldspectacles@gmail.com</a><br>
  	<abbr title="Phone">P:</abbr> (+91) 9844186612<br>
	</address>
        </div>
        <div class="span4">
	<p><h4>Shout</h4></p>
	<div class="fb-comments" data-href="https://www.facebook.com/donateoldspectacles" data-width="470"></div>
	</div>
      </div>

  </div>
</div>
{% endblock %}
