{% extends "base.html" %}

{% block content %}
<div style="padding-top:60px">
<div id = "about_us">
<div class ="page-header">
<p class="lead"><h1>Who are we?</h1> </p>
</div>
  Our organization, we aim at creating a self sustainable model for recycling old spectacles and making it
reach the needy. This model is not possible without the donor, the receiver, and an optician. Hence, we are trying to
reach out to as many people who fall in the three categories to make this non-profit motive project a success.
 For the benefit of our valuable donors, opticians, NGO’s (who will help us reach the end users), we will provide a 
common IT platform which can be accessible by all our stakeholders to check the requirement list, current status of
the spectacle inventory available with us and also provide the donor an option to track the status of his/her donated 
spectacle.
To kick start with the collection of old spectacles, we are looking at corporate offices and similar institutions to get the 
required numbers whose power will be monitored by our opticians and promptly be updated on the website, ready to 
be picked by the NGO’s. 
Apart from a great sense of satisfaction, we shall express our gratitude to the donor by offering a discount voucher 
from one amongst the leading eyewear retail outlets on their next purchase of the spectacle from the store.
So, lets join our hands together to make the other person’s life brighter as easily by making the little effort of donating 
your old spectacles that are lying unattended at the shelf!
</div>
 
<div class="page-header">
  <h1>Contact</h1>
</div>
<!-- Example row of columns -->
      <div class="row">
        <div class="span4">
	<p><h4>Mail</h4></p>
	<address>
  	<strong>DonateoldSpectacles.org</strong><br>
  	<a href="mailto:#">donateoldspectacles@gmail.com</a><br>
  	<abbr title="Phone">P:</abbr> (+91) 9844186612<br>
	</address>
        </div>
        <div class="span4">
	<p><h4>Shout</h4></p>
	<div class="fb-comments" data-href="https://www.facebook.com/donateoldspectacles" data-width="470"></div>
	</div>
      </div>
  </div>
</div>
{% endblock %}
