{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero-unit">
<!--<div class="page-header"> -->
  <h1>Donate old spectacle</h1>
<!--  </div> -->
  {%if donate_id %}
	<p class="lead"> Thanks for your donation! </p>
  	<p>Please write the number BS00{{ donate_id }} on the paper used to wrap the specatacle with before putting it in the donation box. </p>
  {% else %} 
  <p>Fill in the below form before dropping the spectacle in the drop box.</p> 
	<div id="push lead">
		<form action="." method="post" class="form-inline">{% csrf_token %}
		<input id="id_email_id" maxlength="200" name="email_id" type="text" placeholder="Email">
		{{ form.size }}

		<input type="submit" value="Donate" class="btn btn-primary"/>
		</form>
	</div>
  {% endif %}
</div>
<!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>NGO Partners</h2>
          <p><div class="media">
		<a target="_blank" href="http://snehadeep.org.in/" class="pull-left">
			<img class="media-object" src="{% static "images/snehadeep.png" %}" />
		</a>
		<div class="media-body">
    		<h4 class="media-heading">Snehadeep Trust for Disabled</h4>
		Snehadeep Trust for the Disabled was established in 1999 by three visually impaired graduates, who had a strong will to empower the disabled with life opportunities, which they had fought so hard for.
		</div>
	</div>
	<h6> We are looking for more partners. </h6>
	</p>
          <p><a class="btn" href="#">Join us&raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Optical Partners</h2>
	<div class="media">
                <a target="_blank" href="http://www.donateoldspectacles.org/" class="pull-left">
                        <img class="media-object" src="{% static "images/blank.png" %}" />
                </a>
                <div class="media-body">
                <h4 class="media-heading">Be Featured here.</h4>
		Currently we are looking for opticals to support us in this noble cause. If you are interested in helping us, please write to us. This is a symbiotic relationship as we help the opticals in generating more leads and aquiring more cutomers.
                </div>
        </div></p>
        <a class="btn" href="#">Support us &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Corporate Partners</h2>
	<div class="media">
                <a target="_blank" href="http://www.donateoldspectacles.org/" class="pull-left">
                        <img class="media-object" src="{% static "images/blank.png" %}" />
                </a>
                <div class="media-body">
                <h4 class="media-heading">Be Featured here.</h4>
               As a corporate organisation, you can run campaingns to collect old spectacles from the employees and hand it over to us. Running such campaign is simple and hassle free. We provide instructions and kit to run this campaign. Your employees can also benefits from the same as we provide them with discount coupons for next purchase. And the entire process is transparent as one can track the donation on the site with their email ids.
                </div>
        </div></p>

          <a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}
